# Global default reviewers
* @AbhinayaSai2026 @Prajnabshettigar @bvarshii @ananyatrri

backend/ @AbhinayaSai2026 @Prajnabshettigar @bvarshii @ananyatrri
frontend/ @AbhinayaSai2026 @Prajnabshettigar @bvarshii @ananyatrri
db/ @AbhinayaSai2026 @Prajnabshettigar @bvarshii @ananyatrri

.github/ @AbhinayaSai2026 @Prajnabshettigar @bvarshii @ananyatrri
