# Global default reviewers
* @AbhinayaSai2026 @prajnabshettigar @bvarshii @ananyaatrri

backend/ @AbhinayaSai2026 @prajnabshettigar @bvarshii @ananyaatrri
frontend/ @AbhinayaSai2026 @prajnabshettigar @bvarshii @ananyaatrri
db/ @AbhinayaSai2026 @prajnabshettigar @bvarshii @ananyaatrri

.github/ @AbhinayaSai2026 @prajnabshettigar @bvarshii @ananyaatrri
